html, body {
  /* background-color: white;
  margin: 0;
  box-sizing: border-box; */

  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body{
  min-height: 100vh;
}

header, #pokemon_content, footer {
  padding: 10px; /* Optional: Abstand für Header, Content und Footer */
}

header {
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.389);
}

h1 {
  color: black;
  font-size: 66px;
  text-align: center;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.textcolor {
  background-image:linear-gradient(135deg, #d946ef, #3b82f6, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

.d_none {
  display: none !important;
}

.hidden_arrow{
  visibility: hidden;
}

#pokemon_content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 20;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  right: 0;
  background: #fff;
  transform: translate(50%, 100%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#body_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.762);
  transition: opacity 300ms ease-in-out;
  z-index: 10;
}

#loader_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.762);
  transition: opacity 300ms ease-in-out;
  z-index: 10;
}





.input {
  color: black;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}

.input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}


#info_field p{
  color: red;
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}


button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #e2b5b5, -6px -6px 12px #b7a3ff;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

button:hover{
  background: #9f9898;
}

footer{
  background-color: #090909;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 430px) {
  h1{
    font-size: 45px;
  }
  .dialog{
    width: 100px;
    height: 400px;
  }
}