html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.389);
  padding-bottom: 8px;
}

.logo_input_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo_img {
  width: 300px;
  height: auto;
}

.d_none {
  display: none !important;
}

.hidden_arrow {
  visibility: hidden;
}

.input_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input {
  color: gray;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}

.input:hover {
  cursor: pointer;
}

.input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

#info_field p {
  color: red;
  font-size: 18px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.toggle_container {
  display: flex;
  justify-content: center;
}

.toggle_icon {
  width: 18px;
  height: 18px;
  padding-bottom: 18px;
}

.toggle_icon:hover {
  cursor: pointer;
}

.dark_mode_icon {
  filter: invert(50%);
}

.dark_mode {
  background-color: black;
  color: black;
}

#pokemon_content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 20;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  right: 0;
  background: #fff;
  transform: translate(50%, 100%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#body_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.762);
  transition: opacity 300ms ease-in-out;
  z-index: 10;
}

#loader_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.762);
  transition: opacity 300ms ease-in-out;
  z-index: 10;
}

button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #e2b5b5, -6px -6px 12px #b7a3ff;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

button:hover {
  background: #9f9898;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: end;
  margin-top: auto;
}

footer p {
  margin-top: 0;
  margin-bottom: 4px;
}

footer a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: "Bangers";
  src: url("./fonts/Bangers-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 56px;
  }
}

@media (max-width: 780px) {
  .logo_img {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 45px;
  }
  .dialog {
    width: 100px;
    height: 400px;
  }
  #info_field p {
    font-size: 14px;
  }
}
