.card_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.id_container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 90%;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px black;
}

.name_container {
  width: 90%;
  height: 40px;
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
  text-transform: capitalize;
}

.name_container p {
  margin-top: 60px;
}

.character_container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
}

.responsive_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.type_container {
  width: 90%;
  height: 80px;
}

.type_container p {
  width: 60px;
  height: 20px;
  color: white;
  margin-top: 6px;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.185);
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(235, 250, 255);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_grass {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(94, 189, 87);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_fire {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(253, 146, 33);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_water {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(83, 156, 222);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_poison {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(182, 99, 207);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_bug {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(146, 188, 44);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_normal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(159, 162, 159);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_electric {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(243, 217, 78);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_ground {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(218, 124, 78);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_fairy {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ee90e6;
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_fighting {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(211, 66, 95);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_psychic {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(251, 133, 129);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_rock {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(201, 187, 138);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_ghost {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(96, 109, 188);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_ice {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(117, 208, 193);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_dragon {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(12, 105, 199);
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_steel {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #5695a3;
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_dark {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #595761;
  border: 1px solid silver;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 400px;
  transition: opacity 300ms ease-in-out;
  text-align: center;
  animation: pulsate 3s infinite;
  z-index: 15;
}

.dialog_id {
  width: 100%;
  height: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px black;
  display: flex;
  justify-content: flex-end;
}

.dialog_name {
  width: 100%;
  height: 40px;
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
}

.dialog_img {
  width: 30%;
  height: auto;
}

.dialog_about_container {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.dialog_about_container p {
  display: flex;
  justify-content: flex-start;
  padding-left: 8px;
}

.arrow_container {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow_left {
  position: absolute;
  left: 40px;
  bottom: 20px;
}

.arrow_right {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.arrow_img {
  width: 70%;
  height: auto;
  opacity: 0.5;
}

.arrow_img:hover {
  cursor: pointer;
  opacity: unset;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 430px) {
  .dialog {
    width: 250px;
    height: 400px;
  }
}
